[package]
name = "ark-ff"
version = "0.1.0"
authors = [ "arkworks contributors" ]
description = "A library for finite fields"
homepage = "https://arkworks.rs"
repository = "https://github.com/arkworks-rs/algebra"
documentation = "https://docs.rs/ark-ff/"
keywords = ["cryptography", "finite fields" ]
categories = ["cryptography"]
include = ["Cargo.toml", "src", "README.md", "LICENSE-APACHE", "LICENSE-MIT"]
license = "MIT/Apache-2.0"
edition = "2018"
build = "build.rs"

[dependencies]
ark-ff-asm = { path = "../ff-asm" }
ark-ff-macros = { path = "../ff-macros" }
ark-std = { git = "https://github.com/arkworks-rs/utils", default-features = false }
ark-serialize = { path = "../serialize", default-features = false }
derivative = { version = "2", features = ["use_core"] }
num-traits = { version = "0.2", default-features = false }
rayon = { version = "1", optional = true }
zeroize = { version = "1", default-features = false, features = ["zeroize_derive"] }

[build-dependencies]
rustc_version = "0.3"

[dev-dependencies]
num-bigint = { version = "0.4.0", default-features = false }

[features]
default = []
std = [ "ark-std/std", "ark-serialize/std" ]
parallel = [ "std", "rayon", "ark-std/parallel" ]
asm = []
