name: CI
on:
  pull_request:
  push:
    branches:
      - master
env:
  RUST_BACKTRACE: 1

jobs:
  style:
    name: Check Style
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v1
    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true
        components: rustfmt

    - name: cargo fmt --check
      uses: actions-rs/cargo@v1
      with:
        command: fmt
        args: --all -- --check

  docs:
    name: Check Documentation
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v1
    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true
        components: rustfmt

    - name: cargo doc --all --no-deps --document-private-items --all-features
      uses: actions-rs/cargo@v1
      with:
        command: doc
        args: --all --no-deps --document-private-items --all-features

  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: -Dwarnings
    strategy:
      matrix:
        rust:
          - stable
          - nightly
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Rust (${{ matrix.rust }})
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Check examples
        uses: actions-rs/cargo@v1
        with:
            command: check
            args: --examples --all

      - name: Check examples with all features on stable
        uses: actions-rs/cargo@v1
        with:
            command: check
            args: --examples --all-features --all
        if: matrix.rust == 'stable'

      - name: Check benchmarks on nightly
        uses: actions-rs/cargo@v1
        with:
            command: check
            args: --all-features --examples --workspace --benches
        if: matrix.rust == 'nightly'

      - name: Test
        uses: actions-rs/cargo@v1
        with:
            command: test
            args: "--workspace \
                   --all-features \
                   --exclude ark-poly-benches \
                   --exclude ark-algebra-test-templates"

      - name: Test assembly on nightly
        env:
          RUSTFLAGS: -C target-cpu=native
        uses: actions-rs/cargo@v1
        with:
            command: test
            args: "--workspace \
                   --package ark-test-curves \
                   --all-features"
        if: matrix.rust == 'nightly'

  check_no_std:
    name: Check no_std
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Rust (${{ matrix.rust }})
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: thumbv6m-none-eabi
          override: true

      - name: Install Rust ARM64 (${{ matrix.rust }})
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: aarch64-unknown-none
          override: true

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: check
        uses: actions-rs/cargo@v1
        with:
            command: check
            args: --examples --workspace --exclude ark-algebra-test-templates --exclude ark-poly-benches --target thumbv6m-none-eabi

      - name: build
        uses: actions-rs/cargo@v1
        with:
            command: build
            args: --workspace --exclude ark-algebra-test-templates --exclude ark-poly-benches --target thumbv6m-none-eabi

  test_against_curves:
    name: Test against curves
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: -Dwarnings
    strategy:
      matrix:
        rust:
          - stable
          - nightly
    steps:
      - name: Checkout curves
        uses: actions/checkout@v2
        with:
          repository: arkworks-rs/curves
    
      - name: Checkout algebra
        uses: actions/checkout@v2
        with:
          repository: arkworks-rs/algebra
          path: algebra

      - name: Install Rust (${{ matrix.rust }})
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            algebra/target
            target
          key: ${{ runner.os }}-cargo-curves-${{ hashFiles('**/Cargo.lock') }}
          
      - name: Patch cargo.toml
        run: |
          echo                                                                             >> Cargo.toml
          echo      "[patch.'https://github.com/arkworks-rs/algebra']"                     >> Cargo.toml
          echo      "ark-ff = { path = 'algebra/ff' }"                                     >> Cargo.toml
          echo      "ark-serialize = { path = 'algebra/serialize' }"                       >> Cargo.toml
          echo      "ark-ff-macros = { path = 'algebra/ff-macros' }"                       >> Cargo.toml
          echo      "ark-ff-asm = { path = 'algebra/ff-asm' }"                             >> Cargo.toml
          echo      "ark-ec = { path = 'algebra/ec' }"                                     >> Cargo.toml
          echo      "ark-algebra-test-templates = { path = 'algebra/test-templates' }"     >> Cargo.toml
        
      - name: Test
        uses: actions-rs/cargo@v1
        with:
            command: test
            args: "--workspace \
                   --all-features \
                   --exclude curve-benches"