name: CI
on:
  pull_request:
  push:
    branches:
      - master
env:
  RUST_BACKTRACE: 1

jobs:
  style:
    name: Check Style
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v1
    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true
        components: rustfmt

    - name: cargo fmt --check
      uses: actions-rs/cargo@v1
      with:
        command: fmt
        args: --all -- --check

  docs:
    name: Check Documentation
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v1
    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true
        components: rustfmt

    - name: cargo doc --all --no-deps --document-private-items --all-features
      uses: actions-rs/cargo@v1
      with:
        command: doc
        args: --all --no-deps --document-private-items --all-features

  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: -Dwarnings
    strategy:
      matrix:
        rust:
          - stable
          - nightly
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Rust (${{ matrix.rust }})
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Check examples
        uses: actions-rs/cargo@v1
        with:
            command: check
            args: --examples --all

      - name: Check examples with all features on stable
        uses: actions-rs/cargo@v1
        with:
            command: check
            args: --examples --all-features --all
        if: matrix.rust == 'stable'

      - name: Check benchmarks on nightly
        uses: actions-rs/cargo@v1
        with:
            command: check
            args: --all-features --examples --workspace --benches
        if: matrix.rust == 'nightly'

      - name: Test
        uses: actions-rs/cargo@v1
        with:
            command: test
            args: "--workspace \
                   --all-features \
                   --exclude ark-poly-benches \
                   --exclude ark-algebra-test-templates"

      - name: Test assembly on nightly
        env:
          RUSTFLAGS: -C target-cpu=native -Z macro-backtrace
        uses: actions-rs/cargo@v1
        with:
            command: test
            args: "--workspace \
                   --package ark-test-curves \
                   --all-features
                   "
        if: matrix.rust == 'nightly'

  test_assembly:
    name: Test assembly
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: -Dwarnings
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Rust nightly
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Test assembly on nightly
        env:
          RUSTFLAGS: -C target-cpu=native
        uses: actions-rs/cargo@v1
        with:
            command: test
            args: "--workspace \
                   --package ark-test-curves \
                   --all-features"

  check_no_std:
    name: Check no_std
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: thumbv6m-none-eabi
          override: true

      - name: Install Rust ARM64
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: aarch64-unknown-none
          override: true

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: check
        uses: actions-rs/cargo@v1
        with:
            command: check
            args: "--examples --workspace \
                  --exclude ark-algebra-test-templates \
                  --exclude ark-algebra-bench-templates \
                  --exclude ark-poly-benches \
                  --target thumbv6m-none-eabi"

      - name: build
        uses: actions-rs/cargo@v1
        with:
            command: build
            args: "--examples --workspace \
                  --exclude ark-algebra-test-templates \
                  --exclude ark-algebra-bench-templates \
                  --exclude ark-poly-benches \
                  --target thumbv6m-none-eabi"

  test_against_curves:
    name: Test against curves
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: -Dwarnings
    strategy:
      matrix:
        curve:
          - bls12_377
          - bls12_381
          - bn254
          - pallas
          - bw6_761
          - mnt4_298
          - mnt6_298
          - ed_on_bls12_377
    steps:
      - name: Checkout curves
        uses: actions/checkout@v2
        with:
          repository: arkworks-rs/curves

      - name: Checkout algebra
        uses: actions/checkout@v2
        with:
          path: algebra

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Patch cargo.toml
        run: |
          if  grep -q "\[patch.crates-io\]" Cargo.toml ; then
              MATCH=$(awk '/\[patch.crates-io\]/{ print NR; exit }' Cargo.toml); 
              sed -i "$MATCH,\$d" Cargo.toml
          fi
          {
            echo      "[patch.crates-io]";
            echo      "ark-ff = { path = 'algebra/ff' }";
            echo      "ark-serialize = { path = 'algebra/serialize' }";
            echo      "ark-ff-macros = { path = 'algebra/ff-macros' }";
            echo      "ark-ff-asm = { path = 'algebra/ff-asm' }";
            echo      "ark-ec = { path = 'algebra/ec' }";
            echo      "ark-algebra-bench-templates = { path = 'algebra/bench-templates' }"
            echo      "ark-algebra-test-templates = { path = 'algebra/test-templates' }"
            echo      "ark-bls12-377 = { git = 'https://github.com/arkworks-rs/curves' }"
            echo      "ark-bls12-381 = { git = 'https://github.com/arkworks-rs/curves' }"
            echo      "ark-bn254 = { git = 'https://github.com/arkworks-rs/curves' }"
            echo      "ark-pallas = { git = 'https://github.com/arkworks-rs/curves' }"
            echo      "ark-bw6-761 = { git = 'https://github.com/arkworks-rs/curves' }"
            echo      "ark-mnt4-298 = { git = 'https://github.com/arkworks-rs/curves' }"
            echo      "ark-mnt6-298 = { git = 'https://github.com/arkworks-rs/curves' }"
            echo      "ark-ed-on-bls12-377 = { git = 'https://github.com/arkworks-rs/curves' }"
            echo      "ark-std = { git = 'https://github.com/arkworks-rs/std' }"
            echo      "ark-r1cs-std = { git = 'https://github.com/arkworks-rs/r1cs-std' }"
          } >> Cargo.toml

      - name: Test on ${{ matrix.curve }}
        run: "cd ${{ matrix.curve }} && cargo test --all-features"
